html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "poppins", sans-serif;
}
body {
  color: #1b4332;
  background: linear-gradient(to bottom, #fdf6e3, #fff);
}

.about-container,
.instruments-container,
.courses,
.gallery-section {
  margin: 4rem auto;
}

section,
.about-container,
.instruments-container,
.courses {
  border-radius: 24px;
}

/* --------------------------NAVBAR----------------------- */
.navbar {
  z-index: 999;
  background: rgba(253, 227, 227, 0.488);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(27, 67, 50, 0.1);
}

.navbar ul {
  list-style: none;
  font-family: "poppins", sans-serif;
  font-size: 1.43rem;
  padding: 1.25rem 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar ul a {
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.5s ease;
  color: #000000;
  font-weight: 500;
}

.nav-logo {
  display: none;
}

/* .navbar ul a:hover {
  background: #00000063;
  color: #ffffff;
} */

/* -------------------------------HOME-------------------------------- */
.hero {
  margin: auto;
  margin-top: 2rem;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(120deg, #ffffff 0%, #ffd3d381 50%, #ffabab5c 100%);
  color: #fff;
  border-radius: 1rem;
  border-bottom: 10px solid #431b1b;

}
.name {
  width: 49%;
  display: block;
}
.hero h1,
h3 {
  font-family: "cinzel", "poppins";
  padding-left: 10rem;
  line-height: 1.1;
  letter-spacing: 1.4;
}

.hero h1 {
  padding-top: 8rem;
  color: #1b4332;
  font-size: 6rem;
  font-weight: 800;
  display: inline-block;
}
.hero h3 {
  font-size: 3rem;
  color: #40916c;
  font-weight: 600;
  display: inline-block;
}
.address {
  color: #5f6f65;
  font-size: 0.87rem;
  padding-left: 10rem;
  padding-top: 1rem;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 1.4;
}
.logo {
  width: 49%;
}
.logo img {
  padding: 1rem 6rem;
  height: 75%;
  width: 65%;
  margin-top: 3rem;
  margin-left: 3rem;
}

/* --------------------about------------------ */
.about-container,
.about-details {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6px);
}

.about-container {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 1 0;
  border-left: 5px solid #1b4332;
  background-color: #33333323;
}
.about-img {
  margin-top: 5rem;
  width: 40%;
  min-width: 250px;
}
.about-img img {
  width: 90%;
  padding-left: 1rem;
  border-radius: 5%;
}
.about-details {
  width: 50%;
  font-size: 1rem;
  min-width: 250px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 25px;
  background-color: #33333323;
  border-right: 5px solid #1b4332;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  line-height: 1.7;
}
.about-details h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #8b0000;
}

.about-details p {
  margin-bottom: 15px;
  font-size: 16px;
}

.about-details strong {
  color: #000;
}

.qualifications {
  margin: 20px 0;
}

.qualifications ul {
  margin: 10px 0 0 20px;
  padding: 0;
}

.qualifications li {
  margin-bottom: 6px;
  font-size: 15px;
}

/* ------------------------------------------INSTRUMENTS------------------------------ */
.instrument-head h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #7b0000;
  padding: 2rem;
  text-align: center;
}

.instruments-container {
  border-top:5px solid #000000;
  border-bottom:5px solid #000000;
  background: #00000031;
  width: 85vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 2rem;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.slide-container {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 30px;
  height: 100%;
}

.card {
  width: 40%;
  height: 40%;
  transition: all 0.4s ease;
  background: linear-gradient(to bottom, #f8f1e4 0%, #efe2c6 50%, #e5d3b3 100%);
  border: none;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 15px 30px rgba(27, 67, 50, 0.25);
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.card span {
  background: rgba(0, 0, 0, 0.773);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.2rem 2rem;
  font-size: 1rem;
  position: relative;
  top: -15%;
  border-radius: 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  background: rgba(255, 255, 255, 0.396);
  border-radius: 50%;
  z-index: 100;
  color: black;
}
.swiper-button-prev {
  margin-left: -2.4rem;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

/* -------------------------------------------------------terms and conditions--------------------- */

.classes-info {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;

}
.classes-info h1 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  text-align: center;
  color: #7b0000;
  letter-spacing: 1px;
}
.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  color: #555;
}
.fee-card {
  border-left:5px solid #000000;
  border-right:5px solid #000000;
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  position: relative;
}
.fee-card::before {
  content: "♪";
  position: absolute;
  top: -15px;
  right: 20px;
  font-size: 40px;
  color: rgba(123, 0, 0, 0.2);
}
.fee-card h2 {
  font-family: "Playfair Display", serif;
  color: #7b0000;
  margin-bottom: 15px;
}
.fee-card h3 {
  margin-top: 20px;
  color: #444;
  padding: 0;
}
.fee-card ul {
  padding-left: 20px;
}
.fee-card li {
  margin-bottom: 8px;
}
.rules {
  background: #7b0000;
  color: #fff;
  padding: 30px;
  border-radius: 12px;
}
.rules h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}
.rules ol {
  padding-left: 20px;
}
.rules li {
  margin-bottom: 10px;
}

/* ------------------------------------gallery------------------ */
/* ---------------- Gallery ---------------- */

/* .gallery-section {
  width: 85vw;
  margin: 5rem auto;
  padding: 4rem 2rem;
  border-radius: 24px;
  background: linear-gradient(#95040431, #ffffff31);
  border-top: 10px solid #431b1b;
  display: flow-root;
}

.gallery-title {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #1b4332;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.gallery-grid img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.gallery-grid img:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 28px rgba(27, 67, 50, 0.25);
} */
.gallery-section{
  padding: 80px 10%;
  /* background:#0f172a; */
  text-align:center;
}

.gallery-title{
  font-size: 36px;
  color:white;
  margin-bottom:50px;
}

.gallery-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.gallery-item{
  overflow:hidden;
  border-radius:12px;
  cursor:pointer;
}

.gallery-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.4s ease;
}

.gallery-item:hover img{
  transform:scale(1.31);
}

/* LIGHTBOX */

.lightbox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.lightbox-img{
  max-width:80%;
  max-height:80%;
}

.close{
  position:absolute;
  top:30px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}


/* -----------------------contact------------------- */
.contact {
  position: fixed;
  padding: 10px;
  bottom: 2rem;
  right: 3rem;
  border-radius: 10px;
  z-index: 1000;
  background: #1b4332;
  box-shadow: 0 10px 25px rgba(27, 67, 50, 0.4);
}
.contact a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

/* ------------------------------MEDIA-------------------- */

/* ----------------------------------------------------Tablets Landscape or Small Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
 .navbar ul {
    padding: 1.25rem 6rem;
    font-size: 1.25rem;
  }
  .hero {
    width: 90vw;
  }

  .hero h1,
  .hero h3,
  .address {
    padding-left: 4rem;
  }

  .hero h1 {
    font-size: 4.5rem;
    padding-top: 6rem;
  }

  .hero h3 {
    font-size: 2.2rem;
  }

  .logo img {
    width: 70%;
    padding: 1rem 3rem;
    margin-top: 4rem;
  }

  /* About */
  .about-container {
    width: 90vw;
  }

  .about-details {
    font-size: 0.95rem;
  }

  .about-container {
    width: 90vw;
    gap: 1.5rem;
  }

  .about-img {
    width: 45%;
    margin-top: 3rem;
  }

  .about-img img {
    width: 95%;
    padding-left: 0.5rem;
  }

  .about-details {
    width: 90%;
    font-size: 0.95rem;
    padding: 22px;
  }

  .about-details h3 {
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
  }

  .about-details p {
    font-size: 0.95rem;
  }

  .qualifications li {
    font-size: 0.9rem;
  }

  .instruments-container {
    width: 90vw;
    padding-bottom: 1.5rem;
  }

  .instrument-head h3 {
    font-size: 2.2rem;
    padding: 1.5rem;
  }

  .card {
    width: 45%;
    margin-bottom: 1rem;
  }

  .card img {
    height: 100%;
    object-fit: scale-down;
  }

  .swiper {
    height: 60vh;
  }

  .slide-container {
    gap: 0.8rem;
  }

   .classes-info {
    max-width: 85%;
    padding: 30px 15px;
  }

  .classes-info h1 {
    font-size: 32px;
  }

  .subtitle {
    margin-bottom: 30px;
  }

  .fee-card {
    padding: 20px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
  }

  .fee-card h2 {
    font-size: 1.5rem;
  }

  .fee-card h3 {
    font-size: 1.2rem;
  }

  .fee-card::before {
    font-size: 35px;
    top: -12px;
    right: 15px;
  }

  .rules {
    padding: 25px;
  }

  .rules h2 {
    font-size: 1.5rem;
  }
   /* .gallery-section {
    width: 90vw;
    padding: 3rem 1.5rem;
  }

  .gallery-title {
    font-size: 2.2rem;
  }

  .gallery-grid {
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .gallery-grid img {
    height: 200px;
  } */

} 

/*----------------------------------------------------------- Tablets Portrait */
@media (max-width: 720px) {
  .navbar {
    position: relative;
    padding: 1rem 2rem;
  }

  .nav-logo {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(253, 227, 227, 0.95);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    display: none;
  }

  .navbar ul a {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .name,
  .logo {
    width: 100%;
  }

  .hero h1,
  .hero h3,
  .address {
    padding-left: 0;
  }

  .hero h1 {
    padding-top: 3rem;
    font-size: 3.5rem;
  }

  .hero h3 {
    font-size: 2rem;
  }

  .address {
    font-size: 0.85rem;
    padding: 1rem 2rem;
  }

  .logo img {
    margin: 2rem auto;
    width: 55%;
    height: auto;
  }

   .about-container {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    border-left: none;
  }

  .about-img {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }

  .about-img img {
    width: 65%;
    padding-left: 0;
    border-radius: 20%;
  }

  .about-details {
    width: 85%;
    margin: 20px 0;
    padding: 18px;
    border-right: none;
    font-size: 0.95rem;
  }

  .about-details h3 {
    font-size: 1.3rem;
    text-align: center;
  }
   .instruments-container {
    width: 95vw;
    padding-bottom: 1rem;
  }

  .instrument-head h3 {
    font-size: 1.8rem;
    padding: 1rem;
  }

  .card {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  .card img {
    height: 200px;
    object-fit: contain;
  }

  .slide-container {
    flex-direction: column;
    gap: 1rem;
    height: auto;
  }

  .swiper {
    height: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .classes-info {
    max-width: 95%;
    padding: 20px 10px;
  }

  .classes-info h1 {
    font-size: 28px;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 0.95rem;
  }

  .fee-card {
    padding: 15px;
    margin-bottom: 20px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
  }

  .fee-card h2 {
    font-size: 1.3rem;
  }

  .fee-card h3 {
    font-size: 1.1rem;
  }

  .fee-card::before {
    font-size: 30px;
    top: -10px;
    right: 10px;
  }

  .rules {
    padding: 20px;
    font-size: 0.9rem;
  }

  .rules h2 {
    font-size: 1.3rem;
  }

  .rules ol {
    padding-left: 15px;
  }

  /* .gallery-section {
    width: 95vw;
    padding: 2.5rem 1rem;
  }

  .gallery-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .gallery-grid {
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .gallery-grid img {
    height: 160px;
  } */
}


/* ------------------------------------------------------------Mobile */
@media (max-width: 480px) {
  .navbar {
    padding: 0.8rem 1.2rem;
  }

  .nav-logo {
    font-size: 1.6rem;
  }
  .hero .logo {
    display: none;
  }
  .navbar ul a {
    font-size: 1rem;
    padding: 12px 0;
  }
  .hero h1 {
    font-size: 2.6rem;
  }

  .hero h3 {
    font-size: 1.6rem;
  }

  .address {
    font-size: 0.75rem;
    line-height: 1.4;
  }

  .logo img {
    width: 65%;
  }

  .about-details {
    
    font-size: 0.9rem;
    padding: 18px;
  }

  .about-details h3 {
    font-size: 1.3rem;
    padding: 0;
  }
  .about-img img {
    width: 75%;
  }

  .about-details {
    width: 85%;
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .about-details p {
    font-size: 0.9rem;
  }

  .qualifications li {
    font-size: 0.85rem;
  }
  .instrument-head h3 {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .card img {
    height: 150px;
  }

  .card span {
    font-size: 0.85rem;
    padding: 0.2rem 1rem;
    top: -20%;
  }

   .classes-info h1 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 0.85rem;
  }

  .fee-card h2 {
    font-size: 1.1rem;
  }

  .fee-card h3 {
    font-size: 1rem;
  }

  .fee-card::before {
    font-size: 25px;
    top: -8px;
    right: 8px;
  }

  .rules {
    padding: 15px;
    font-size: 0.85rem;
  }

  .rules h2 {
    font-size: 1.1rem;
  }

  .rules ol {
    padding-left: 12px;
  }
   /* .gallery-section {
    width: 90%;
    padding: 2rem 0.5rem;
  }

  .gallery-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .gallery-grid {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .gallery-grid img {
    height: 120px;
  } */
  .contact{
    bottom: 1rem;
    right:.75rem;
  }
}

